/*External files*/
@import url("reset.css");


/* CSS Document */

body{
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
/*------------------- Header, Logo, & Brand Name -----------------------*/


#header{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    position: fixed;
    background-color: #333;
    z-index: 3;
    
}

.silver{
    width: 100%;
    height: 105px;
    position: fixed;
    background-color: #888;
    z-index: 2;
}

#header img{
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}

#brandname{
    float: left;
    font-family: "Baskerville Old Face", "Times New Roman", Times, serif; 
    font-size: 60px;
    color: #FFF;
}

#brandsub{
    font-size: 14px;
    text-align: center;
}

/* -------------------- Navigation -------------------- */


#nav{
    margin: 20px 0;
    float: right;
}

/* Removes Bullets, Margins, and Padding from list */

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles the Nav Buttons and floats the list items side by side */

.nav li {
	float: left;
    margin-left: 10px;
    font-size: 18px;
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif;
}

/* Styles the Nav Text Items */

.nav li a {
	display: block;
	padding: 15px 20px;
	height: 20px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
    
}

/* Styles the Nav When Hovered Over */

.nav li a:hover {
    border-bottom: 3px solid #FFF;
}

/* Styles active Nav link */

.active{
    border-bottom: 3px solid #FFF;
}

/*---------- Dropdown ----------*/

.dropdown {
    position: relative;
    display: inline-block;
}

/* First Tier Dropdown Styling*/
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 3px 5px 7px 0px rgba(0,0,0, 0.2);
}

li .dropdown-content a:nth-child(1), a:nth-child(2){     
    border-bottom: 1px solid #FFF;
}

/* Styles Dropdown Content*/
li .dropdown-content a{
    display: block;
    text-align: left;
    font-size: 16px;
    font-family: "HelveticaNeue-UltraLight", "Helvetica", "Arial", san-serif;
}

/* Display Dropdowns on Hover */
.dropdown:hover .dropdown-content{
    display: block;
}

li .dropdown-content a:hover{
    background-color: #aeb7b5;
    border-bottom: none;
}

li .dropdown-content a:last-child:hover{
    border-radius: 0 0 5px 5px;
}


/* ------------------------------ Home Page ------------------------------ */

.featured{
    box-sizing: border-box;
    width: 100%;
    top: 80px;
    height: 700px;
    padding: 50px;
    background-image: linear-gradient(rgba(20,20,20, .3), rgba(20,20,20, .3)), url("Images/suit_close.jpg");
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}
.contentwrap{
    top: 200px;
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    position: relative;
}

.aboutfeatured{
    width: 100%;
    height: 400px;
    background-image: url("Images/porterguy.jpg");
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}



.blogfeatured{
    width: 100%;
    height: 400px;
    background-image: url("Images/banner_image.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.wrap{
    margin: 0 auto;
    position: relative;
}

.whitecontent{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10%;
    background-color: #FFF;  
}

    .whitecontent img{
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }

h1{
    text-align: center;
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica", "Arial", san-serif; 
    font-weight: 300;
}

h2{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif; 
    font-weight: 100;
    line-height: 1.5em;
}

/*Positioning the button in containter*/

.whitebutton{
    color: #FFF;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border: 5px solid #FFF;
    font-size: 1.5em;
    text-align: center;
}

.whitebutton:hover{
    background-color: #777;
    color: #FFF;
}

.darkbutton{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border: 5px solid #333;
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

.darkbutton:hover{
    background-color: #888;
    color: #FFF;
}

.darktext{color: #555;}

.lighttext{color: #FFF;}


/* ----------------------------- Contact Page ------------------------------ */

.contactpg{
    background-color: #595959;
    padding: 150px 0 45px 0;
}

.form{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px;
    width: 85%;
    height: auto;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 15px 15px 10px #454545;
}
    .form img{
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .form p{
        margin-bottom: 15px;
        line-height: 1.5em;
    }

    small{font-size: small;}

.column1{
    float:left;
    width: 48%;
}
.column2{
    float:right;
    width: 48%;
}

input[type=text], select{
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 10px 0 30px 0; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif; 
}

.message{
    width: 100%;
    float:left;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 10px 0 40px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica", "Arial", san-serif;
    resize: none;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #888;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif; 
    
}

input[type=submit]:hover {
    background-color: #555;
}


/*-------------------- Footer --------------------*/

#footer{
    height: 15px;
    padding: 5px 10px;
    background-color: #333;
}

#footer p{
    font-size: 12px;
    height 10px;
    font-family: "HelveticaNeue-Thin", "Helvetica", "Arial", san-serif;
    color: #FFF;
    
}


/*------------------------------Media Max 800px-----------------------------------*/
@media screen and (max-width: 805px) {
    
    #nav{margin: 0}

    #header{
        height: 85px;
        padding: 10px 20px; 
    }

    .silver{
        height: 90px;
    }

    #header img{
        width: 80px;
        margin-right: 10px;
    }

    #brandname{
        font-size: 50px;
        color: #FFF;
    }

    #brandsub{
        font-size: 12px;
        text-align: center;
    }

    /*Positions the button on the header*/   
    #menu-btn {
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }
    /*Styles the button*/
    .menu-btn span {
        display: block;
        width: 35px;
        height: 5px;
        margin-top: 5px;
        background-color: #FFF;
    }
    
    /* Rotate and transform menu button*/

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, -1px) ;
        -moz-transform: rotate(-45deg) translate(-8px, -1px) ;
        -ms-transform: rotate(-45deg) translate(-8px, -1px) ;
        transform: rotate(-45deg) translate(-8px, -1px) ;
        transition: 0.4s;
    }

    .change .bar2 {
        -webkit-transform: rotate(45deg) translate(-8px, 1px) ;
        -moz-transform: rotate(45deg) translate(-8px, 1px) ;
        -ms-transform: rotate(45deg) translate(-8px, 1px) ;
        transform: rotate(45deg) translate(-8px, 1px) ;
        transition: 0.4s;
    }


    .responsive-menu{
        display: none;
        position: absolute;
        right: 0;
        top: 85px;
        font-size: 22px;
        border: #FFF solid 1px;
        box-sizing: border-box;
        background-color: #1C1C1C;
    }

    .expand {
        display: block !important; 
    }

    .open-menu-link{
        display: none;
        position: absolute;
        top: 0px;
        font-size: 22px;
        cursor: pointer;
    }
    .visible {
       display: block !important;
        z-index: 5;
    } 

    #nav{
        width: 100%;
        height: auto;
        margin-top: 5px;
        float: none;
    }
    .nav li {
        float: none;
        margin-right: 0;
        font-size: 20px;
    }

    /* Styles the Nav Text */

    .nav li a {
        display:block;
        padding:15px;
        height: 20px;
        width: 70px;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;

    }

    /* Styles the Nav When Hovered Over */

    .nav li a:hover {
        border-bottom: 3px solid #FFF;
    }

    /* Styles active nav link */

    .active{
        border-bottom: 3px solid #FFF;
    }
    .dropdown {
        position: relative;
        display: block;
    }

    /* First Tier Dropdown Styling*/
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        border-radius: 5px;
        box-shadow:none;
    }

    /* Styles Dropdown Content*/
    li .dropdown-content a{
        font-size: 16px;
        font-family: "HelveticaNeue-UltraLight", "Helvetica", "Arial", san-serif;
    }

    /* Display Dropdowns on Hover */
    .dropdown:hover .dropdown-content{
        display: none;
    }
    
    /*-------------------- Home Content --------------------*/
    
    .featured{
        height: 500px;
        padding: 5%;
        background-attachment: scroll;
    }

    .aboutfeatured{
        height: 250px;
        background-attachment: scroll;

    }

    .blogfeatured{
        height: 250px;
        background-attachment: scroll;
    }

    .contentwrap{
        top: 150px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
    }
    .whitecontent{
        box-sizing:border-box;
        width:100%;
        padding: 10%;
        height: auto;
        background-color: #FFF;

    }
    .whitecontent img{
        display: block;
        width: 150px;
    }

    .wrap{
        margin: 0 auto;
        width: 700px;
        max-width: 100%;
    }

    h1{font-size: 2em;}

    h2{
        margin-top: 30px;
        font-size: 1.1em;
    }
    
    /* ------------------- Contact Page ------------------- */
    
    .column1{
        float: none;
        width: 100%;
    }
    .column2{
        float: none;
        width: 100%;
    }
    
    
}